{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Search</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{%static 'js/script.js'%}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% endblock meta %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>

      {% if user.is_authenticated %}
     
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Halo  {{user.get_username}}</a></li>
      <li><a href="/admin/logout/?next=/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'main:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/admin/login/?next=/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    {% endif %}


  </div>
</nav>
  <h1>Search here</h1>
  <input id="keyword" placeholder="Masukkan kata kunci">
 <table id="table"class="table table-borderless table-dark" border=1>
   <thead>
    <tr>
      <th scope="col" class="align-middle">No</th>
      <th scope="col" class="align-middle">Cover</th>
      <th scope="col" class="align-middle">Title</th>
      <th scope="col" class="align-middle">Authors</th>
      <th scope="col" class="align-middle">Publisher</th>
      <th scope="col" class="align-middle">Published Date</th>
  
     </tr>

   </thead>
   <tbody id="content"></tbody>
  
 </table>

{% endblock content %}
